@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900,900i|Playfair+Display:400,400i,700,700i');

body {
	position: relative;
	font-family: 'Lato', sans-serif;
	line-height: 1.7;
	color: #777;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	line-height: 1.42857;
	margin-bottom: .5rem;
	color: #151515;
}

.text-heading {
	color: #151515;
}

.text-primary {
	color: #f5a637 !important;
}

.background-gray {
	background-color: #f0f0f0;
}

/**
 * Alerts
 */

.alert {
	font-family: 'Playfair Display', serif;
	color: #151515;
	border-width: 2px 0 0 0;
	box-shadow: 0 5px 30px 0 rgba(0, 0, 0, .15);
}

.alert-danger {
	border-color: #dc3545;
	background-color: white;
}

.alert-success {
	border-color: #28a745;
	background-color: white;
}

#page-alert {
	position: fixed;
	z-index: 999;
	width: 100%;
	max-width: 600px;
	text-align: center;
	top: 90px;
	right: auto;
	left: 50%;
	transform: translateX(-50%);
}

/* Navbar */

.navbar-brand {
	font-family: 'Playfair Display', serif;
	font-size: 30px;
	font-style: italic;
	transition: color .1s;
}

.navbar-brand.d-none {
	padding-left: 45px;
}

.navbar .nav-link {
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	transition: color .1s;
	color: #fff;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
	color: white;
}

.navbar-dark {
	background-color: transparent;
}

.navbar-dark .navbar-brand,
.navbar-dark .navbar-nav .nav-link {
	color: #151515;
}

.navbar:before {
	position: absolute;
	z-index: -1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: '';
	transition: all .3s;
	transform: translateY(-100%);
	background-color: white;
}

.navbar-dark:before {
	transform: translateY(0);
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus,
.navbar .navbar-brand:active,
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:active {
	color: #f5a637;
}

.navbar-toggler {
	right: 0;
	display: -webkit-inline-box;
	display: inline-flex;
	height: 70px;
	padding-top: 0;
	padding-bottom: 0;
	-webkit-box-align: center;
	align-items: center;
	border: 0;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23151515' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Section header */

.section_header {
	position: relative;
	padding: 200px 0 140px;
}

.section_header:before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: '';
	background: rgba(0, 0, 0, 0.5)
}

.section_header h1 {	
	color: #fff;
}

.section_header.index {
	min-height: 100vh;
}

.section_header.index h2 {
	color: #f0f0f0;
	font-size: 14px;
	margin-bottom: 0;
	font-weight: 500;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	margin-top: 20px;
}

.section_header.index h1 {
	font-size: 80px;
}

.section_header.index p {
	color: rgba(255, 255, 255, .7) !important;
	max-width: 600px;
	margin: auto;
}

.section_header_index_footer {
	position: absolute;
    bottom: 0;
    height: 70px;
    width: 100%;
}

.section_welcome_footer_social {
	padding-left: 0;
	list-style-type: none;
}
.section_welcome_footer_social li {
	display: inline-block;
	padding-right: 20px;
}

.section_welcome_footer_social li a {
	transition: color .1s;
	color: rgba(255, 255, 255, .7);
}

.section_welcome_footer_social li a:hover,
.section_welcome_footer_social li a:focus,
.section_welcome_footer_social li a:active {
	color: #f5a637;
}

.section_welcome_footer_address {
	font-family: 'Playfair Display', serif;
	color: rgba(255, 255, 255, .7);
}

.section_welcome_footer_address>.fa {
	margin-right: 15px;
	color: #f5a637;
}

/* Section about */

.section_about {
	position: relative;
}

.section_about_description {
	font-size: 16px;
	line-height: 1.5;
	position: relative;
	color: #151515;
}

.section_about_description:before {
	display: block;
	width: 50px;
	margin: 16px 0;
	content: '';
	border-top: 3px solid #f5a637;
}

.section_about_img {
	padding: 20px 0;
}

@media (min-width: 768px) {
	.section_about_img:before {
		position: absolute;
		z-index: -1;
		width: 80%;
		height: 80%;
		content: '';
		top: 20%;
		left: 20%;
		border: 1px solid #f0f0f0;
	}
}

/* Blockquote */

blockquote {
	font-size: 20px;
}

blockquote p {
	font-family: 'Playfair Display', serif;
	margin-bottom: 15px;
	color: #151515;
}

blockquote p:before {
	content: open-quote;
}

blockquote p:after {
	content: close-quote;
}

blockquote footer {
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
}

/* Section quote */

.section_quote {
	position: relative;
	padding-top: 100px;
	padding-bottom: 20px;
}

.section_quote blockquote:before {
	font-family: 'Playfair Display', serif;
	font-size: 200px;
	line-height: 50px;
	display: block;
	content: 'â€';
	text-align: center;
	color: rgba(21, 21, 21, .1);
}

.section_quote blockquote footer {
	position: relative;
	margin-top: 20px;
	padding-top: 20px;
}

.section_quote blockquote footer:before {
	position: absolute;
	top: 0;
	left: 50%;
	width: 100px;
	content: '';
	transform: translateX(-50%);
	border-top: 3px solid #f5a637;
}

/* Section info */

.section_info {
	position: relative;
	overflow: hidden;
}

.section_info p {
	max-width: 600px;
	margin: auto;
	margin-bottom: 40px;
}

.section_info_body {
	padding: 28px 0;
}

.section_info_img {
	position: relative;
	height: 100%;
}
.section_info_img img {
	max-width: 100%;
	
	height: auto;
}

@media(min-width: 767.98px) {
	.section_info_img img {
		position: absolute;
		max-width: 1036px;
	}
}

/* Buttons */

.btn {
	font-size: 12px;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 1rem 2rem;
	border-color: #f5a637;
	border-radius: 0;
}

.btn-primary {
	color: #151515;
	background-color: transparent;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
	color: #f5a637 !important;
	border-color: #f5a637 !important;
	background-color: transparent !important;
	box-shadow: none !important;
}

/* Footer */

.section_footer {
	position: relative;
	background-color: #151515;
	padding: 20px 0;
}

.section_footer a,
.section_footer a:hover,
.section_footer a:focus,
.section_footer a:active {
	color: #777;
	text-decoration: none;
}

.section_footer_heading {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 700;
	margin-top: 20px;
	margin-bottom: 15px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #f5a637;
}

.section_footer_info {
	padding-left: 0;
	list-style-type: none;
}

.section_footer_info li {
	position: relative;
	padding-left: 30px;
}

.section_footer_info li i {
	position: absolute;
	top: 5px;
	left: 0;
}

.section_footer_open_days {
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	font-weight: 700;
	font-weight: 900;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.section_footer_open_time {
	font-family: 'Playfair Display', serif;
	font-size: 18px;
}

.section_footer_copyright:before {
	display: inline-block;
	width: 60px;
	margin-right: 10px;
	content: '';
	vertical-align: middle;
	border-top: 1px solid #777;
}

/* Section Menu */

.section_menu {
	position: relative;
}

.section_menu p {
	max-width: 600px;
	margin: auto;
	margin-bottom: 40px;
}

.section_menu_nav ul {
	padding-left: 0;
	list-style-type: none;
	text-align: center;
}

.section_menu_nav ul li {
	display: inline-block;
}

.section_menu_nav ul li a {
	position: relative;
	display: block;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	font-weight: 800;
	padding: 15px;
	transition: color .1s;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #777;
}

.section_menu_nav ul li a:after {
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	content: '';
	transition: all .5s;
	transform: translateY(10px);
	opacity: 0;
	border-top: 3px solid #f5a637;
}

.section_menu_nav ul li a:hover,
.section_menu_nav ul li a:focus,
.section_menu_nav ul li a:active {
	text-decoration: none;
	color: #151515;
}

.section_menu_nav ul li.active a {
	color: #151515;
}

.section_menu_nav ul li.active a:after {
	transform: translateY(0);
	opacity: 1;
}

.section_menu_item {
	padding: 15px 0;
	border-bottom: 1px solid #f0f0f0;
}

.section_menu_item_img {
	position: relative;
	overflow: hidden;
	padding-bottom: 100%;
}

.section_menu_item_img>img {
	position: absolute;
	top: 0;
	left: 0;
	width: auto;
	height: 100% !important;
}

.section_menu_item p {
	margin-bottom: 0;
}

.section_menu_item_price {
	font-size: 25px;
}

/* Section Dishes */

.section_dishes_carousel {
	height: 250px;
}

.section_dishes_carousel_item {
	height: 100%;
	padding: 0 2px;
}

.section_dishes_carousel_item img {
	height: 100%;
}

.section_dishes_carousel_item_body {
	position: absolute;
	right: 2px;
	left: 2px;
	bottom: 0;
	padding: 30px 15px 15px 15px;
	background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, .75));
}

.section_dishes_carousel_item_body h5 {
	display: flex;
	color: white;
	align-items: center;
	margin-bottom: 0;
}

.section_dishes_carousel_item_body h5 span {
	font-size: 30px;
	margin-left: auto;
}

/* Forms */

.form-control {
	padding: 15px 30px;	
	border: 1px solid #f0f0f0;
	border-radius: 0;
}

.form-control:focus {
	border-color: #f5a637;
	box-shadow: 0 0 0 5px rgba(245, 166, 55, .25);
}

select.form-control:not([size]):not([multiple]) {
	height: 54px;
}

/* Section phone */

.section_phone_row div:before,
.section_phone_row div:after {
	position: absolute;
	width: 30px;
	height: 30px;
	content: '';
}

.section_phone_row div:before {
	bottom: 0;
	left: 20px;
	border-bottom: 1px solid #f5a637;
	border-left: 1px solid #f5a637;
}

.section_phone_row div:after {
	top: 0;
	right: 20px;
	border-top: 1px solid #f5a637;
	border-right: 1px solid #f5a637;
}

.section_phone_number {
	font-family: 'Playfair Display', serif;
	font-size: 45px;
	font-weight: bold;
}

.section_phone_number a {
	color: #151515;
}

.section_phone_number a:hover,
.section_phone_number a:focus,
.section_phone_number a:active {
	text-decoration: none;
}

/* Events */

.section_events_item {
	position: relative;
}

.section_events_item_bg {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	transition: opacity .25s linear;
	background-color: #333;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.section_events_item_bg:before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: '';
	background: linear-gradient(45deg, black, transparent);
}

.active .section_events_item_bg {
	opacity: 1;
}

.section_events_item_content_lg {
	max-height: 0;
	opacity: 0;
	overflow: hidden;	
	transition: opacity .25s;
	color: rgba(255, 255, 255, .7);
}

.active .section_events_item_content_lg {
	max-height: none;
	opacity: 1;
}

.section_events_item_content_lg .row {
	padding: 100px 0;
}

.section_events_item_content_sm {
	cursor: pointer;
}

.active .section_events_item_content_sm {
	display: none;
}

.section_events_item_content_sm .row {
	padding: 30px 0;
	border-bottom: 1px solid #f0f0f0;
}

.section_events_item_content_sm time {
	font-family: 'Playfair Display', serif;
	font-size: 40px;
	line-height: 1;
	display: block;
	text-align: center;
	color: #151515;
}

.section_events_item_content_sm time small {
	font-size: 15px;
	display: block;
	margin-top: 5px;
}

/* Section carousel */

.section_carousel_slider_item {
	width: 100%;
}

.section_carousel_slider_item_caption {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 30px 15px 30px 15px;
	background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, .75));
}

.section_carousel_slider_item_caption_heading {
	color: white;
}

/* Section Gallery */

.section_gallery_grid_item {
	padding-right: 8px;
	padding-bottom: 15px;
	padding-left: 8px;
}

.section_gallery_grid_item a {
	position: relative;
	display: block;
}

.section_gallery_grid_item a:before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	content: '';
	transition: opacity .3s;
	background-color: rgba(0, 0, 0, .5);
}

.section_gallery_grid_item a:after {
	position: absolute;
	top: 50%;
	left: 50%;
	content: url(../img/icon_plus.svg);
	transition: opacity .3s;
	transform: translate(-50%, -50%);
	opacity: 0;
}

.section_gallery_grid_item a:hover:before,
.section_gallery_grid_item 	a:hover:after {
	opacity: 1;
}

/* Section contact */

.section_contact_form:before {
	position: absolute;
	z-index: -1;
	right: 75%;
	bottom: 25%;
	width: 35%;
	height: 100%;
	content: '';
	opacity: .1;
	background: url(../img/icon_dot.svg) repeat;
}

.section_contact_item {
	margin-bottom: 15px;
}

.section_contact_item+.section_contact_item {
	padding-top: 15px;
	border-top: 1px solid #f0f0f0;
}

.section_contact_item_heading {
	font-family: 'Lato', sans-serif;
	font-size: 10px;
	font-weight: 900;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.section_contact_item_content {
	font-family: 'Playfair Display', serif;
}

.section_contact_item_content a,
.section_contact_item_content a:hover,
.section_contact_item_content a:focus,
.section_contact_item_content a:active{
	text-decoration: none;
	color: #777;
}

ul.section_contact_item_content {
	padding-left: 0;
	list-style-type: none;
}

ul.section_contact_item_content li {
	display: inline-block;
}

ul.section_contact_item_content li a {
	line-height: 25px;
	display: block;
	width: 25px;
	height: 25px;
	text-align: center;
	color: #f5a637;
}

ul.section_contact_item_content li a:hover {
	background-color: #f5a637;
	color: #fff; 
}

/* Section map */

.section_map {
	position: relative;
	min-height: 400px;
}

.section_map_iframe {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
    min-height: 400px;
}